@model WebApp.Table
@{
    // Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Table";
}

<h2>@Model.Name</h2>

<table>
    <thead>
        <tr>
            @foreach (var column in Model.Columns)
            {
                <th>@column.Name</th>
            }
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>