@model System.Collections.Generic.IEnumerable<WebApp.Models.Customer>
@{
    //Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

@Html.ActionLink("Show InMemoryStore Information", "Index", "Home", new { area = "InMemoryStoreViewer" })