@model InMemoryStoreViewer.InMemoryStore
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Database Viewer";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<h1>Databases</h1>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">

            @{
                int index = 0;
                foreach (var database in Model.Databases)
                {
                    <tr>
                    @Html.ActionLink(database.Name, "ViewDatabase", "Home", new { index });
                    </tr>
                    index++;

                }
            }
</table>

@*@foreach (var database in Model.Databases)
{
    @Html.DisplayFor(m => database);
    
}*@
