@model InMemoryStoreViewer.InMemoryDatabase
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Database Viewer";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<h3>Tables</h3>
@Html.DisplayFor(m => m)

<br />
@Html.ActionLink("<< Back", "Home", "ViewDatabase")